.card {
  width: 220px;
  height: 280px;
}
.deleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  //width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 50%;
}
