.input {
  display: none;
}
.containerForNewPictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 220px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.cards {
  padding: 20px;
}
mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  //width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 50%;
}
.title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
